<fieldset id="blog">
    <p><b>СЬВЯТЫЯ КІРЫЛА І МЯТОД</b></p>
    <p>Радныя браты Кірыла і Мяфодзі паходзілі з шляхетнай сям'і, 
    што мешкала ў грэцкам горадзе Салуні. Яны былі сынамі ваяводы, 
    ро­дам баўгарскага славяніна. Сьв. Мяфодзі быў старэйшым зь сямі 
    братоў, сьв. Канстанцін, у манастве Кірыла, — малодшым.</p>
    <p>Сьв. Мяфодзій быў спачатку ў вайскоўцу званьні і правіл 
    падпарад­каваным Бізантыйскай імпэрыі славянскім княствам, 
    відаць Баў­гарс­кім, што дало яму магчымасьць навучыцца славянскай 
    мове. Прабыўшы там каля 10 гадоў, сьв. Мяфодзій прыняў затым 
    ма­наст­ва ў адным зь манастыроў на гора Алімп (Малая Азія). Сьв. 
    Кірыла зь малых гадоў адрозьніваўся разумовымі здольнасьцямі і 
    вучыўся разам зь малалетнім імпэратарам Міхасём у лепшых нас­таў­нікаў 
    Канстантынопаля, у тым ліку ў Фоція, пасьля Патрыярха 
    Канстанцінопальскага. Сьв. Кірыла у дасканаласьці спасьціг усе 
    навукі свайго часу і шматлікія мовы, асабліва старанна ён вывучаў 
    тварэньні сьвяціцеля Рыгора Багаслова. За свой розум і выбітныя 
    спазнаньні сьв. Кірыла быў празваны Філёзафам.</p>
    <p>Па заканчэньні вучэньня сьв. Кірыла прыняў сан і быў прызначаны 
    захавальнікам патрыяршай бібліятэкі пры храме Сьвятой Сафіі, але 
    неўзабаве пакінуў сталіцу і таемна сышоў у манастыр. Рас­шуканы там 
    і вернуты ў Канстантынопаль, ён быў прызначаны настаўнікам філязофіі 
    ў Вышэйшую канстантынопальскую школу. Мудрасьць і сіла веры яшчэ 
    зусім маладога Кірыла былі гэтак вялікія, што ён здолеў перамагчы ў 
    спрэчках правадыра ерэтыкоў—іканаборцаў Анія. Пасьля гэтай перамогі 
    Кірыла быў пасланы імпэ­ра­тарам на дыспут для спрэчак аб Сьвятой Тройцы 
    зь сарацынамі і таксама атрымаў перамогу. Неўзабаве Кірыла пайшоў да 
    свайго брата Мяфодзія на Алімп, дзе праводзіў час у няспыннай малітве 
    і чы­таньні тварэньняў сьвятых айцоў.</p>
    <p>Аднойчы імпэратар выклікаў сьвятых братоў зь манастыра і ад­пра­віў 
    іх да хазараў для эвангельскай пропаведзі. На шляху яны спы­ні­ліся на 
    некаторы час у горадзе Херсанесе (Корсуні), дзе рыхта­ва­лі­ся да 
    дабравесьця. Там сьвятыя браты дзівосным чынам здабылі мошчы 
    сьвятамучаніка Клімэнта, Папы Рымскага. Там жа, у Хер­са­несе, сьв. 
    Кірыла знайшоў Эвангельле і Псалтыр, напісаныя "русь­кімі літарамі", і 
    чалавека, размаўляючага па-руську, і стаў ву­чыц­ца ў гэтага чалавека 
    чытаць і гаварыць на яго мове.</p>
    <p>Затым сьвятыя браты адправіліся да хазараў, дзе атрымалі пера­могу ў 
    спрэчках зь юдэямі і мусульманамі, прапаведуючы эвангельс­кае вучэньне.
    На шляхі дамоў браты зноў наведалі Херсанес і, узяўшы там мошчы сьв. 
    Клімэнта, вярнуліся ў Канстантынопаль. Сьв. Кірыла застаўся ў сталіцы,
    а сьв. Мяфодзій атрымаў ігуменства ў невялікім манастыры Паліхрон, 
    недалёка ад гары Алімп, дзе ён манастваваў раней.</p>
    <p>Неўзабаве прышлі да імпэратара амбасадары ад мараўскага кня­зя 
    Расьціслава, уціскаемага нямецкімі біскупамі, з просьбай дас­лаць у 
    Маравію настаўнікаў, якія маглі бы прапаведаваць на род­ным для славян 
    мове. Імпэратар заклікаў да сабе Кірыла і ска­заў яму: "Неаб­ход­на табе 
    ісьці туды, бо лепш цябе ніхто гэтага не зробіць". Сьв. Кірыла пастом 
    і малітвай прыступіў да новага подзь­ві­гу. Зь дапамогай свайго брата 
    Мяфодзія і вучняў Гаразда, Клімэн­та, Савы, Наву­ма і Ангяляра ён склаў 
    славянскую азбуку і перавёў на славянскую мову кнігі, без якіх не 
    магло зьдзяйсьняцца багаслужба: Эвангельле, Апостал, Псалтыр і абраныя 
    службы. Гэта было ў 863 г.</p>
    <p>Зьдзейсьніўшы пераклад, сьвятыя браты павандравалі ў Маравію, дзе 
    былі прыняты зь вялікай пашанаю, і пачалі навучаць багас­луж­бам на 
    славянскай мове. Гэта выклікала гнеў нямецкіх япіска­паў—лацінян, якія 
    адпраўлялі службы ў мараўскіх цэрквах выключна на лацінскай мове, і 
    яны паўсталі супраць сьвятых братоў, сьцьвер­джаючы, што набажэнства 
    можа зьдзяйсьняцца толькі на адным з трох моў: габрэйскім, грэцкім або 
    лацінскім. Сьв. Кірыла адказваў ім: "Вы прызнаеце толькі тры мовы, 
    годныя таго, каб славіць на іх Бога. Але Давыд кажа. "Усякае дыханьне 
    ды славіць Госпада!" Гас­подзь прыйшоў выратаваць усе народы, і усе 
    народы павінны усхва­ляць Госпада на сваіх мовах". Нямецкія біскупы 
    былі пасаромлены, але узлаваліся яшчэ больш і падалі скаргу ў Рым. 
    Сьвятыя браты былі закліканыя ў Рым для рашэньня гэтага пытаньня. 
    Узяўшы зь сабою мошчы сьв. Клімэнта, Папы Рымскага, сьвв. Кірыла і 
    Мяфо­дзій адправіліся ў Рым. Пазнаўшы аб тым, што сьвятыя браты нясуць 
    зь сабою сьвятыя мошчы, Папа Рымскі Адрыян з клірам вый­шаў ім 
    насустрач. Браты былі сустрэтыя з пашанай, Папа Рымскі зацьвердзіў 
    набажэнства на славянскай мове, а перакладзеныя бра­та­мі кнігі загадаў 
    пакласьці для асьвячэньня ў рымскіх цэрквах і зьдзяйсьняць літургію 
    на славянскай мове.</p>
    <p>Знаходзячыся ў Рыме, сьв. Кастусь занямог і, у дзівосным бачаньні 
    паведамлены Госпадам аб набліжэньні скону, прыняў схіму зь імем Кірыла.
    Праз 50 дзён пасьля прыняцьця схімы, 14 лютага 869 г., роўнаапостальны 
    Кірыла скончыў свае зямное жыцьцё ва узросьце сарака двух гадоў. 
    Адыходзячы да Бога, сьв. Кірыла запа­вя­даў брату свайму сьв. Мяфодзію 
    працягваць іх агульная справу — асьвету славянскіх народаў сьвятлом 
    праўдзівай веры. Сьв. Мя­фо­дзій прасіў Папу Рымскага дазволіць павезьці
    цела брата для паха­ваньня ў роднай зямлі, але Папа загадаў пакласьці
    мошчы сьв. Кіры­лы ў цэрквы Сьвятога Клімэнта, дзе ад іх сталі 
    здзяйсьняцца цуды.</p>
    <p>Пасьля скону сьв. Кірылы Папа, прытрымліваючыся просьбе сла­­вянс­кага
    князя Коцела, паслаў сьв. Мяфодзія ў Панонію, пасьвяціўшы яго ў
    архібіскупа Маравіі і Паноніі, на старажытны пасад сьв. апостала 
    Андроніка. У Паноніі сьв. Мяфодзій разам са сваімі вучнямі працягваў
    распаўсюджваць набажэнства, пісьменнасьць і кні­гі на славянскай
    мове. Гэта зноў выклікала лютасьць нямецкіх біскупаў. Яны дамагліся
    арышту і суду над сьвяціцелем Мяфодзіем, які быў сасланы ў 
    зьняволеньне ў Швабію, дзе на працягу двух з паловай гадоў 
    зьведаў шматлікія пакуты. Вызвалены па загаду Па­пы Рымскага Іаана
    VIII і адноўлены ў правах архібіскупа, сьв. Мя­фо­дзій працягнуў
    эвангельскую пропаведзь сярод славян і пах­рась­ціў чэскага князя
    Барывоя і яго жонку Людмілу, а таксама аднаго з польскіх 
    князёў. У трэці раз нямецкія біскупы узьвялі га­нень­не на 
    сьвя­ціцеля за непрыняцьце рымскага вучэньня аб сыход­жань­ні 
    Сьвя­тога Духу ад Айца і ад Сына. Сьвяціцель Мяфодзій быў 
    вык­лі­ка­ны ў Рым і даказаў перад Папам, што захоўвае ў чысьціні
    пра­вас­лаўнае вучэньне, і быў зноў вернуты ў сталіцу Маравіі — 
    Велеград.</p>
    <p>Там у апошнія гады свайго жыцьця сьвяціцель Мяфодзій зь дапамогай 
    двух вучняў—сьвятароў перавёў на славянскую мову увесь Стары запавет, 
    акрамя Макавейскіх кніг, а таксама Номаканон (Правілы сьвятых айцоў) 
    і сьвятаайцоўскія кнігі (Пацярык).</p>
    <p>Прадчуваючы набліжэньне скону, сьв. Мяфодзій паказаў на аднаго зь 
    сваіх вучняў — Гаразда як на свайго годнага пераемніка. Сьвяціцель 
    прадказаў дзень сваёй сьмерці і сканаў 6 красавіка 885 г. ва узросьце 
    каля шасьцідзесяці гадоў. Адпяваньне сьвяціцеля было зьдзейсьнена на 
    трох мовах: славянскім, грэцкім і лацінскім; пахаваны сьвяціцель быў у
    саборнай царкве горада Вялеграда.
    <p>Да ліку сьвятых раўнаапостальныя Кірыла і Мяфодзі былі далучаны 
    яшчэ Х ст. Практычна адразу пачалося іх шанаваньня і ў Кіеўскай Царкве.</p>
    <p><h6>Крыніца: <a href="http://baocinfo.blogspot.com.by/2010/05/blog-post_24.html">Беларуская Аўтакефалія</h6></p>
</fieldset>    
